body {
    background-color: black;
    text-align: center;
}

.center-screen-box {
    position: absolute;
    top: 50%;
    left:50%;
    margin-left:-200px;
    margin-top:-50px;
    width: 400px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}